.container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.container > input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(67, 67, 67, 255);
  outline: none;
  background-color: black;
  transition: 200ms border-color ease;
}

.container > input:focus,
.container > input:hover {
  border-color: rgba(170, 170, 170, 255);
}

.container > button {
  width: 80px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(67, 67, 67, 255);
  cursor: pointer;
  transition: 200ms background-color ease;
}

.container > button:hover {
  background-color: rgba(170, 170, 170, 255);
}
